
BACK/PORTARIA_BACK/node_modules/.bin/download-msgpackr-prebuilds
BACK/PORTARIA_BACK/node_modules/.bin/download-msgpackr-prebuilds.cmd
BACK/PORTARIA_BACK/node_modules/.bin/download-msgpackr-prebuilds.ps1
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-optional
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-optional.cmd
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-optional.ps1
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-test
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-test.cmd
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-test.ps1
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages.cmd
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages.ps1
BACK/PORTARIA_BACK/node_modules/.package-lock.json
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/lib/libvips-42.dll
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/lib/libvips-cpp.dll
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/lib/sharp-win32-x64.node
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/LICENSE
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/package.json
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/README.md
BACK/PORTARIA_BACK/node_modules/@img/sharp-win32-x64/versions.json
BACK/PORTARIA_BACK/node_modules/@msgpackr-extract/msgpackr-extract-win32-x64/index.js
BACK/PORTARIA_BACK/node_modules/@msgpackr-extract/msgpackr-extract-win32-x64/node.abi108.node
BACK/PORTARIA_BACK/node_modules/@msgpackr-extract/msgpackr-extract-win32-x64/node.napi.node
BACK/PORTARIA_BACK/node_modules/@msgpackr-extract/msgpackr-extract-win32-x64/package.json
BACK/PORTARIA_BACK/node_modules/@msgpackr-extract/msgpackr-extract-win32-x64/README.md
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/bin/download-prebuilds.js
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/binding.gyp
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/build/Release/extract.node
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/LICENSE
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/package.json
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/README.md
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/src/extract.cpp
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/bin.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/build-test.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/index.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/LICENSE
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/optional.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/package.json
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/README.md
BACK/PORTARIA_BACK/node_modules/.bin/download-msgpackr-prebuilds
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-optional
BACK/PORTARIA_BACK/node_modules/.bin/node-gyp-build-optional-packages-test
BACK/PORTARIA_BACK/node_modules/.package-lock.json
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/bin/download-prebuilds.js
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/binding.gyp
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/build/Release/extract.node
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/LICENSE
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/package.json
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/README.md
BACK/PORTARIA_BACK/node_modules/msgpackr-extract/src/extract.cpp
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/bin.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/build-test.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/index.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/LICENSE
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/optional.js
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/package.json
BACK/PORTARIA_BACK/node_modules/node-gyp-build-optional-packages/README.md
