#calendar .calendar,
#calendar .calendar_weekdays,
#calendar .calendar_content {
    max-width: 100%;
}

#calendar .calendar {
    margin: auto;
    font-weight: 400;
}

#calendar .calendar_content {
    background: #fff;
}

#calendar .calendar_weekdays {
    background: #1089ff;
}

#calendar .calendar_header {
    padding: 10px 0;
}

#calendar .calendar_content,
#calendar .calendar_weekdays,
#calendar .calendar_header {
    position: relative;
    overflow: hidden;
}

#calendar .calendar_weekdays div {
    display: inline-block;
    vertical-align: top;
    color: #fff !important;
}

#calendar .calendar_weekdays div,
#calendar .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #000;
    font-size: 15px;
    padding: 15px 0;
}

#calendar .calendar_content div {
    border: 1px solid transparent;
    float: left;
    position: relative;
    z-index: 0;
}

#calendar .calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}

#calendar .calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}

#calendar .calendar_content div.past-date {
    color: #d5d5d5;
}

#calendar .calendar_content div.evento a {
    font-weight: bold;
    font-size: 15px;
    color: white !important;
}

#calendar .calendar_content div.evento {
    font-weight: bold;
    font-size: 15px;
    color: black !important;
}

#calendar .calendar_content div.evento:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    background: #009fe3;
    color: black !important;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
}


#calendar .calendar_content div.ausente {
    font-weight: bold;
    font-size: 15px;
    color: black !important;
}

#calendar .calendar_content div.ausente:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    background: #e42321;
    color: white !important;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
}

#calendar .calendar_content div.fds {
    font-weight: bold;
    font-size: 15px;
    color: black !important;
}

#calendar .calendar_content div.fds:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    background: #bbbbba;
    color: white;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
}




#calendar .calendar_content div.ausencia {
    font-weight: bold;
    font-size: 15px;
    color: white !important;
}

#calendar .calendar_content div.ausencia a {
    font-weight: bold;
    font-size: 15px;
    color: white !important;
}

#calendar .calendar_content div.ausencia:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    background: red;
    color: white;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
}

#calendar .calendar_content div.today {
    font-weight: bold;
    font-size: 15px;
    color: black !important;
}

#calendar .calendar_content div.today:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    background: #72b755;
    color: white;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
}

#calendar .calendar_content div.selected {
    background-color: #f0f0f0;
}

#calendar .calendar_header {
    width: 100%;
    text-align: center;
}

#calendar .calendar_header h2 {
   /* padding: 0 10px;*/
    font-weight: bolder;
    font-size: 25px;
    color: black;
    float: left;
    width: 70%;

}

#calendar .calendar_header h3 {
   /* padding: 0 10px;*/
    font-weight: bolder;
    font-size: 25px;
    color: black;
    float: left;
    width: 70%;
    position: relative;
    left: 15%;
}





button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width: 15%;
    font-size: 45px;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

button.switch-month:hover {
    color: #1089ff;
}